PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHG 0

PUSHG 1
EQUAL
PUSHG 0

PUSHG 2
EQUAL
MUL
PUSHG 0

PUSHG 3
EQUAL
NOT
MUL

JZ ELSE1
PUSHI 1
STOREG 4
PUSHG 4
WRITEI
JUMP ENDIF1
ELSE1:
PUSHG 4
WRITEI
ENDIF1:
STOP
